@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  --md-primary-fg-color: #11305f;
  --md-default-bg-color: #f9faf7;
} 

.cjk {
  font-family: "Noto Sans JP", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
}
